# Misc
*.class
*.log
*.tmp
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
dart_packages.xml
.idea/libraries/Dart_Packages.xml

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# Android
/android/.gradle/
/android/app/build/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release
/android/app/google-services.json

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock
ios/DerivedData/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Podfile.lock
macos/.generated/
macos/Runner.xcworkspace/

# Web
web/generated_plugin_registrant.dart

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/CMakeFiles/
windows/cmake-build-*/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
linux/flutter/CMakeFiles/
linux/cmake-build-*/

# Environment-specific
.env
